# API Keys and Endpoint Configurations
GEMINI_API_KEY=
# Provide your NVIDIA API Key for minimax-m3 model. Fallback is hardcoded for extreme robustness.
NVIDIA_API_KEY=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
QWEN_API_KEY=

# Optional Client-Side Firebase Override Parameters
VITE_FIREBASE_API_KEY=
